<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ky.kyandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />  <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />        <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />   <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppContext"
        tools:replace="android:icon, android:theme"
        android:icon="@mipmap/pp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--所有功能主界面-->
        <activity android:name=".activity.MainAllActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--街道办事人员主界面-->
        <activity android:name=".activity.MainAddEventActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--街道职能部门或者区维稳办职能部门主界面-->
        <activity android:name=".activity.MainHandleEventActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--区维稳办主界面-->
        <activity android:name=".activity.MainOfficeActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--事件新增-->
        <activity android:name=".activity.evententry.EventEntryAddActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--事件列表-->
        <activity android:name=".activity.evententry.EventEntryListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!--事件日志Activity-->
        <activity android:name=".activity.evententry.EventLogListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!--事件关联Activity-->
        <activity android:name=".activity.evententry.EventRelevanceListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!--我的任务列表-->
        <activity android:name=".activity.task.TaskListActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!--我的任务新增-->
        <activity android:name=".activity.task.TaskAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask"/>

        <!--都督查办新增-->
        <activity android:name=".activity.supervision.SuperVisionAddActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!--消息提醒Activity-->
        <activity android:name=".activity.msg.MsgNoticeActivity"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- 字典服务 -->
        <service android:name="com.ky.kyandroid.service.SaveBDdescService" >
        </service>

    </application>


</manifest>